@model Session14.Validations.Models.Appointment

@{
    ViewData["Title"] = "Completed";
}

    <h1>
        @Model.ClientName <br />
        @Model.Date <br />
        @Model.TermsAccpted
    </h1>

